In [2]:
import pandas as pd
import os
import json

In [3]:
df1 = pd.read_csv('/data/beer_data_set.csv')
df2 = pd.read_csv('/databeer_reviews.csv')

In [4]:
df1.rename(columns={"Name":"beer_name"}, inplace=True)
names = set(df1.beer_name).intersection(set(df2.beer_name))
df_merged = pd.merge(df1, df2, on="beer_name", how="inner")

In [5]:
new_df1 = df1[df1["beer_name"].isin(names)]
new_df2 = df2[df2["beer_name"].isin(names)]

new_df1.to_csv("/data/new_df1.csv")
new_df2.to_csv("/data/new_df2.csv")

In [6]:
# Specify the folder containing the JSON files
folder_path = '/data/beer-database'

# Create an empty list to store JSON data
merged_data = []

# Loop through each JSON file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.json'):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r') as file:
            json_data = json.load(file)
            for i, data in enumerate(json_data["data"]):
                merged_data.append(data)

# Merge the data from all JSON files (example: merging into a list)
merged_result = merged_data

# Write the merged data to a new JSON file
output_file_path = "merged.json"
with open(output_file_path, 'w') as output_file:
    json.dump(merged_result, output_file, indent=4)

In [7]:
jason = pd.read_json("/data/merged.json")

In [8]:
jdf = jason[jason["name"].isin(names)]

In [30]:
def extract_hex(json_str):
    try:
        return json_str['hex']
    except:
        return None

In [37]:
def extract_glass(json_str):
    try:
        return json_str['name']
    except:
        return None

In [40]:
# Add hex color
jdf['hex_color'] = jdf['srm'].apply(extract_hex)

# Remove useless info about glass, just keep glass name
jdf.loc['glass'] = jdf['glass'].apply(extract_glass)

In [10]:
def extract_icon(json_str):
    try:
        data = json.loads(json_str)
        return data['icon']
    except:
        return None

In [11]:

jdf['icon'] = jdf['labels'].apply(extract_icon)

/var/folders/l4/sh91w5z5601c5_zm643js55c0000gn/T/ipykernel_46649/681792105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jdf['hex_color'] = jdf['srm'].apply(extract_hex)
/var/folders/l4/sh91w5z5601c5_zm643js55c0000gn/T/ipykernel_46649/681792105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jdf['icon'] = jdf['labels'].apply(extract_icon)

In [12]:
jdf = jdf.reset_index().drop("index", axis=1)

In [13]:
jdf.to_csv('jdf.csv')

In [14]:
jdf['labels'].head(1)

0    {'icon': 'https://brewerydb-images.s3.amazonaw...
Name: labels, dtype: object

In [15]:
new = pd.concat([new_df1, jdf], axis=1)
new

,beer_name,key,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,available,foodPairings,servingTemperature,servingTemperatureDisplay,originalGravity,year,beerVariationId,beerVariation,hex_color,icon
0,Amber,251.0,Altbier,8.0,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25.0,50.0,...,"{'id': 4, 'name': 'Seasonal', 'description': '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Double Bag,252.0,Altbier,8.0,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Long Trail Ale,253.0,Altbier,8.0,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sleigh'r Dark Doüble Alt Ale,256.0,Altbier,8.0,Ninkasi Brewing Company,Notes:Called 'Dark Double Alt' on the label.Se...,7.2,3.78,25.0,50.0,...,"{'id': 1, 'name': 'Year Round', 'description':...",NaN,cool,Cool - (8-12C/45-54F),NaN,NaN,NaN,NaN,NaN,NaN
6,Sticke,257.0,Altbier,8.0,Uerige Obergärige Hausbrauerei,Notes:,6.0,4.10,25.0,50.0,...,"{'id': 4, 'name': 'Seasonal', 'description': '...",NaN,NaN,NaN,1.062,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"{'id': 6, 'name': 'Summer', 'description': 'Av...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"{'id': 1, 'name': 'Year Round', 'description':...",General salad; sweet blueberry cobbler,NaN,NaN,1.040,NaN,NaN,NaN,NaN,NaN
2296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"{'id': 1, 'name': 'Year Round', 'description':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
filtered = new.loc[['beer_name','Style', 'Brewery', 'Description', 'ABV', 'hex_color']]